*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #f2f4fc;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --blue: #072ac8;
  --white: #ffffff;
  --yellow: #ffc600;
  --darkgrey: #292e47;
  --lightgray: #f2f4fc;
}

p {
  color: #6b708d;
}

.top-nav {
  position: absolute;
  width: 92%;
  margin-left: 2%;
  padding: 10px 10px 5px;
  display: flex;
  height: 29vh;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  transition: top 0.75s ease-in;
  /* background-color: #e8e8e8; */
}
.top-nav .menu {
  list-style: none;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
.top-nav .menu li a {
  display: inline-block;
  min-width: 75px;
  margin: 0.3em 0;
  padding: 0 10px;
  transition: 1s all;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  /* color: #6b708d; */
  opacity: 0.6;
}
.top-nav .menu li a:link,
.top-nav .menu li a:visited {
  color: #0d0d0d;
}
.top-nav .menu li a:focus,
.top-nav .menu li a:hover {
  transform: scale(1.1);
  opacity: 1;
  color: #072ac8;
}

.top-nav .menu li a:active {
  transform: scale(1.1);
  opacity: 1;
}

.top-nav .logo {
  display: inline-block;
  width: 140px;
  margin-left: 5%;
}

.logo img {
  width: 55px;
}
.top-nav .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 28px 20px;
}

.top-nav .menu-icon .navicon {
  background: #20232d;
  display: block;
  height: 2px;
  position: relative;
  width: 1.625rem;
}
.top-nav .menu-icon .navicon:before,
.top-nav .menu-icon .navicon:after {
  background: #20232d;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.top-nav .menu-icon .navicon:before {
  top: 7px;
}
.top-nav .menu-icon .navicon:after {
  top: -7px;
}
.top-nav .menu-btn {
  display: none;
}
.top-nav .menu-btn:checked ~ .menu {
  max-height: 300px;
}
.top-nav .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
.top-nav .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
.top-nav .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
.top-nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.top-nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.btn {
  padding: 15px 30px;
  background-color: #072ac8;
  color: white;
  font-size: 17px;
  text-decoration: none;
  transition: 0.7s ease-in-out;
}

.btn:hover {
  background-color: #292e47;
  color: #ffc600;
  /* font-weight: bold; */
  /* scale: 1.2; */
}

.work {
  color: #6b708d;
  font-size: 17px;
  font-weight: 500;
  padding-right: 3%;
}

.work-contact a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.row-main {
  display: flex;
  margin-right: 6%;
  margin-left: 6%;
  padding-top: 15%;
}

.row-main h1 {
  font-size: 60px;
  color: #292e47;
  line-height: 130%;
  letter-spacing: 0;
  text-align: left;
  text-transform: none;
}

.row-main p {
  font-size: 20px;
  color: #6b708d;
  line-height: 150%;
  margin-top: 5%;
}

.work-contact {
  margin-top: 10%;
}

/* Create two equal columns that sits next to each other */
.column-main {
  flex: 50%;
  padding: 10px;
  text-align: left;
}

.main-text {
  margin-top: 5%;
}

.hero {
  width: 100%;
  transition: transform 0.7s ease-in-out;
}

.hero:hover {
  transform: rotate(10deg);
  position: relative;
  z-index: 0;
}

.cards {
  position: absolute;
  width: 46%;
}

#card-1 {
  top: -2vw;
  left: -10vw;
}

#card-1,
#card-2 {
  position: relative;
  width: 23vw;
  z-index: 10;
}

#card-2 {
  right: 0;
  position: absolute;
  margin-top: 71%;
}

.testimonials {
  height: 94vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  -moz-box-align: center;
  align-items: center;
  /* background-image: url('../assets/testimonial-section/orbit.png'); */
  background-color: #292e47;
  margin-top: 15%;
}

.testimonials img {
  width: 100%;
}

.testimonials-text {
  position: absolute;
}

.testimonials-text h2 {
  text-align: center;
  color: white;
  margin-bottom: 14%;
  font-size: 40px;
}

.test-text {
  color: #ffc600;
  font-size: 24px;
  line-height: 160%;
  font-weight: 500;
  text-align: center;
}

.client-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url("../assets/testimonial-section/profile.png");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.client {
  position: relative;
  margin-left: 40%;
  display: flex;
  margin-top: 14%;
}

.client-info {
  display: flex;
  margin-left: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.client-position {
  color: #ecf7ff;
  font-size: 13px;
}

.client-name {
  color: #a2d6f9;
  font-size: 17px;
}

.testimonial-images {
}

.testimonial-images img {
  width: 150px;
  height: 150px;
}

.top-left,
.top-right,
.bottom-left,
.bottom-right {
  position: absolute;
  transition: transform 0.7s ease-in-out;
}

.top-left,
.top-right {
  margin-top: -43%;
}

.top-left,
.bottom-left {
  margin-left: -42%;
}

.top-right {
  margin-left: 30%;
}

.top-right:hover {
  transform: rotate(20deg);
}

.top-left:hover {
  transform: rotate(-20deg);
}

.bottom-right {
  margin-left: 30%;
}

.bottom-right:hover {
  transform: rotate(-20deg);
}

.bottom-left,
.bottom-right {
  margin-top: -16%;
}

.bottom-left:hover {
  transform: rotate(20deg);
}

.company-logos {
  display: flex;
  max-width: 100%;
  overflow-x: scroll;
  align-items: center;
  justify-content: center;
  height: 50vh;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: -5%;
}

.company-logos img {
  width: 13%;
  margin: 6%;
}

.recent-projects {
  position: relative;
  overflow: hidden;
  margin-left: 6%;
  margin-right: 6%;
  color: #292e47;
  /* height: 100vh; */
}

.recent-projects h2 {
  font-size: 40px;
  margin-bottom: 5%;
  margin-left: 1%;
}

.project-img {
  float: left;
  width: 31%;
  background-color: white;
  margin: 1% 1% 45px 1%;
}

.project-name {
  font-size: 1.4rem;
  font-weight: 600;
  height: 20px;
}

.project-description {
  height: 120px;
}

#learn-more:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #072ac8;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

#learn-more:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#learn-more,
#learn-more-2 {
  margin-top: 2%;
  background-color: transparent;
  border: solid 0px transparent;
  color: #072ac8;
  font-size: 17px;
  text-decoration: none;
}

#learn-more a,
#learn-more-2 a {
  text-decoration: none;
  font-weight: 600;
  color: #072ac8;
}

#learn-more-2 {
  margin-top: 15%;
  margin-bottom: 1%;
}

.project-name,
.project-description,
#learn-more {
  padding: 8%;
}

.project-img img {
  width: 100%;
  display: block;
}

.parent {
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.child {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

/* Several different images */
.bg-one {
  background-image: url("../assets/projects-section/1.jpg");
}

.bg-two {
  background-image: url("../assets/projects-section/2.jpg");
}

.bg-three {
  background-image: url("../assets/projects-section/3.jpg");
}

.parent:hover .child,
.parent:focus .child {
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.parent:hover .child:before,
.parent:focus .child:before {
  display: block;
}

.parent:hover a,
.parent:focus a {
  display: block;
}

.child:before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.img-responsive {
  width: 100%;
  height: 150px;
  background-color: black; /* fallback color */
  background-image: url("../assets/projects-section/2.jpg");
  background-position: center;
  background-size: cover;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.img-responsive:hover {
  transform: scale(1.2);
}

.our-services {
  position: relative;
  overflow: hidden;
  margin-left: 6%;
  margin-right: 6%;
  margin-bottom: 14%;
  margin-top: 5%;
}

.our-services h2 {
  font-size: 40px;
  margin-bottom: 3%;
  margin-top: 5%;
  color: #292e47;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.row {
  margin-left: -30px;
  margin-right: -30px;
}

/* Images with Captions */
figure {
  padding: 12px;
  margin: 20px 0 0 3%;
  float: left;
  width: 29%;
  background-color: white;
}
figure img {
  max-width: 100%;
  height: auto;
  background-color: #ecf7ff;
  border-radius: 50px;
  padding: 11%;
}
figcaption {
  margin: -4px 0 0;
  padding: 12px;
  /* background-color: orange; */
  /* text-align: center; */
  /* color: white; */
}
figcaption h4 {
  /* margin-top: 4px;
    margin-bottom: 0; */
  margin: 0 0 30px;
  color: #292e47;
  font-size: 24px;
  line-height: 115%;
  font-weight: 500;
}
figcaption p {
  font-size: 0.8em;
  color: #292e47;
  font-size: 17px;
  font-weight: 400;
}

.projects {
  float: left;
  width: 31%;
  margin: 1% 1% 45px 1%;
}

.projects img {
  width: 100%;
  display: block;
}

form#form1 {
  padding: 0;
  margin: 50px 0;
  width: 50vw;
  display: flex;
  align-items: baseline;
}

.email2 {
  width: 70%; 
  margin-right: 3%;
  margin-left: 2%; 
}
/* 
#email_input1 .submit2 {
 height: 100px;
} */

.send-email {
  height: 72vh;
  width: 100%;
  background-color: #ffc600;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.send-email h2 {
  font-size: 40px;
  color: #292e47;
  margin-bottom: 1%;
}

.send-email p {
  margin-bottom: 2%;
}

.subscribe {
  display: inline-flex;
  padding: 2%;
  /* border-radius: 10px; */
}

.icon-rtl {
  padding-left: 25px;
  background: url("../assets/newsletter/icon/mail.svg") no-repeat left;
  background-size: 2vw;
  /* padding-left: 5%; */
}

.icon-rtl img {
  margin: 25px;
}

input#email_input {
  background-color: white;
  padding: 25px;
  width: 30vw;
  border: solid 0px;
  margin-right: 5%;
  margin-left: -5%;
}

#newsletter {
  background-color: #072ac8;
  color: white;
  padding: 25px;
  border: solid 0px;
}

.section-footer {
  height: 40vh;
  width: 100%;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
}

.footer-content {
  display: flex;
  width: 30vw;
  flex-direction: column;
}

.footer-links {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  color: #072ac8;
}

a.footer-link {
  color: #072ac8;
}

.footer-link {
  font-size: 17px;
  text-decoration: none;
}

.logo2 {
  width: 8vw;
  margin-bottom: 10%;
}

#contact-us {
  display: none;
}

@media (min-width: 900px) {
  .top-nav li {
    margin: 0 10px;
  }

  .top-nav .menu {
    width: 34%;
    max-height: none;
    flex-direction: row;
  }

  .top-nav .menu-icon {
    display: none;
  }

  #contact-us {
    display: block;
  }

  .menu {
    /* width: 93%;
    padding: 0; */
    max-height: none;
    /* height: 16vh; */
  }

}

@media  (min-width: 880px) {
  .cards {
    display: none;
  }
}

@media  (max-width: 870px) {

  body {
    font-size: 25px;
  }

  a.footer-link, 
  .top-nav {
    width: 100%;
    margin-left: 0;
    background-color: #f2f4fc;
    padding: 0;
    height: 13vh;
  }

  .menu {
    background-color: rgb(200, 200, 200);
  }

  .project-img {
    width: 47%;
  }

  .testimonial-images {
    display: none;
  }

  .testimonials, .send-email {
    height: 60vh;
  }

  .row-main {
    display: block;
  }

  .row-main h1 {
  text-align: center;
  }

  .column-main {
    text-align: center;
    margin-top: 5%;
  }

  .cards {
    display: none;
  }

}

@media (max-width: 750px) {
  .logo img {
    width: 10vw;
  }


  .row {
    display: grid;

  }

  figure {
    width: 95%;
    padding: 3%;
    margin-top: 5%;
  }

  .project-img {
    width: 98%;
  }

  .cards {
    display: none;
  }

  figcaption h4, .project-name {
    font-size: 40px;
  }

  figcaption p, .project-description, #learn-more a, #learn-more-2 a {
    font-size: 25px;
  }

  /* #contact-us {
    display: none;
  } */


  #amazon {
    display: none;
  }

  .company-logos {
    display: block;
  }

  .company-logos img {
    width: 24%;
    margin: 15% 12% -2% 12%;
  }

  .recent-projects h2,
  .our-services h2 {
    text-align: center;
    font-size: 60px;
  }

  .testimonials {
    height: 60vh;
  }


  figure img {
    border-radius: 150px;
    padding: 5%;
  }

  form#form1 {
    padding: 0;
    margin: 50px 0;
    width: 50vw;
    display: grid;
    align-items: baseline;
  }

  .email2, .submit2 {
    width: 100%; 
    margin-right: 0;
    margin-left: 0;
  }
  .send-email {
    height: 60vh;
  }
  .subscribe {
    display: grid;
  }

  input#email_input {
    margin-left: 0;
    margin-bottom: 5%;
  }

  .logo2 {
    width: 22vw;
    margin-bottom: 3%;
  }
  .container-footer {
    display: block;
    text-align: center;
  }

  .footer-content {
    width: auto;
    margin-bottom: 10%;
  }
}
