.simplify-img {
    width: 100%;
}

#baconButton {
    background-color: RED;
    height: 80px;
    width: 100px;
    text-align: center;
    margin-left: 15%;
    margin-top: 10%;
}

.parallax {
    background-image: url('../assets/projects-section/1.jpg');
    min-height: 70vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10%;
    margin-right: 10%;
}

